<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
							<label for="tags" id="label"></label>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>" onclick="obarvaj(<%= stranka.CustomerId %>)">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.StRacunov %>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) {%>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		
		var kraji = [];
		var xobj = new XMLHttpRequest();
		xobj.open("GET", "https://api.lavbic.net/kraji", true);
		xobj.onreadystatechange = function () {
			if (xobj.status == "200") {
				//nastane array JSON objektov, .kraj in .postnaStevilka
				kraji = eval('('+xobj.responseText+')');
			}
		}
		xobj.send();
		
		setInterval(preveriGumb, 100);

		document.getElementById("City").addEventListener("keyup", function () {
			//dodaj za autocomplete
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
				document.getElementById("label").innerHTML = "";
			} else {
				var label = document.getElementById("label");
				label.innerHTML = "";
				for(var i = 0; i < kraji.length-1; i++) {
					if(kraji[i].kraj.substr(0, this.value.length).toLowerCase() == this.value.toLowerCase()) {
						label.innerHTML += "<label id=\""+kraji[i].postnaStevilka+"\" class=\""+kraji[i].kraj+"\" onclick=\"javascript: \
							document.getElementById('Country').value = 'Slovenija'; \
							document.getElementById('City').value = this.className; \
							document.getElementById('PostalCode').value = this.id;\
							document.getElementById('label').innerHTML = '';\">"+kraji[i].kraj+"</label><br>";
					}
				}
			}
		});
		
		document.getElementById("Email").addEventListener("keyup", function() {
			var email = this.value;
			if(emailRegex.test(email)) { //email je ok
				document.getElementById("EmailValidate").setAttribute("class", "glyphicon glyphicon-ok");
			} else { //email ni ok
				document.getElementById("EmailValidate").setAttribute("class", "glyphicon glyphicon-remove");
			}
		});
	});
	
	function preveriGumb() {
		var pSt = document.getElementById("PostalCode"), ev = document.getElementById("EmailValidate");
		if(pSt.value.length > 0 && ev.className == "glyphicon glyphicon-ok") {
			document.getElementById("Register").disabled = false;
		} else {
			document.getElementById("Register").disabled = true;
		}
	}
	
	function obarvaj(stranka) {
		var racuni = document.getElementById("seznamRacunov").children;
		for(var i = 0; i < racuni.length; i++) {
			if(racuni[i].getAttribute("customerId") == stranka) {
				if(!racuni[i].classList.contains("racun-stranke")) {
					racuni[i].classList.add("racun-stranke");
				}
			} else {
				if(racuni[i].classList.contains("racun-stranke")) {
					racuni[i].classList.remove("racun-stranke");
				}
			}
		}
	}
</script>
</body>
</html>